In [23]:
import os
import random
import numpy as np
import pandas as pd

In [7]:
dir_list=["./Abhimanyu/","./Alok/", "./Dhriti/", "./Narendra/", "./Sayan/", "./Yogesh/","./Ajit/", "./Neha/","./Yogeshwer/"]

In [13]:
t=[]
for dir  in dir_list:
  l=os.listdir(dir)
  for img_path in l:
    length=len(l)
    t.append(img_path)
    id=random.randint(0, length-1)
    t.append(l[id])
    random_dir_number=random.randint(0,len(dir_list)-1)
    while(dir_list[random_dir_number]==dir):
        random_dir_number=random.randint(0,len(dir_list)-1)

  
    dirw=dir_list[random_dir_number]
    n=os.listdir(dirw)
    random_img=random.randint(0,len(n)-1)
    t.append(n[random_img])
    # break


    # full_img_path=dir+img_path
    # #print(full_img_path)
    # img= cv2.imread(full_img_path)
    # plt.imshow(img)
    # plt.show()
    # break

In [14]:
len(t)

2700

In [15]:
def to_matrix(l, n):
    return [l[i:i+n] for i in range(0, len(l), n)]

In [16]:

m=to_matrix(t,3)

In [19]:
c=np.array(m)
c.dtype

dtype('<U17')

In [20]:
c.shape

(900, 3)

In [24]:
df=pd.DataFrame(data=c,columns=['Anchor','Positive','Negative'])

In [25]:
df.head(10)

              Anchor          Positive         Negative
0    Abhimanyu_3.jpg  Abhimanyu_48.jpg     Sayan_17.jpg
1    Abhimanyu_5.jpg   Abhimanyu_2.jpg      Sayan_5.jpg
2    Abhimanyu_8.jpg  Abhimanyu_93.jpg      Ajit_21.jpg
3    Abhimanyu_1.jpg  Abhimanyu_51.jpg     Sayan_68.jpg
4   Abhimanyu_10.jpg  Abhimanyu_68.jpg  Narendra_50.jpg
5  Abhimanyu_100.jpg  Abhimanyu_60.jpg      Alok_74.jpg
6   Abhimanyu_11.jpg  Abhimanyu_11.jpg     Sayan_74.jpg
7   Abhimanyu_12.jpg  Abhimanyu_62.jpg      Alok_76.jpg
8   Abhimanyu_13.jpg  Abhimanyu_19.jpg    Dhriti_13.jpg
9   Abhimanyu_14.jpg  Abhimanyu_86.jpg      Ajit_24.jpg

In [26]:
df.to_csv('face.csv')

In [27]:
df.shape

(900, 3)